.github-card {
    width: 34rem;
    height: 10rem;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    box-shadow: 2px 9px 7px rgba(0, 0, 0, 0.25),
    -2px -2px 30px 7px rgba(0, 0, 0, 0.22);
}

.github-card img {
    width: 10rem;
}

.github-card .info {
    display: inline-block;
    margin-left: 1rem;
}

.github-card .info .name {
    font-size: 2.5rem;
    font-weight: bold;
}

.github-card .info .company {
    font-size: 1.5rem;
}


.github-card form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 15px 10px;
    font-size: 2rem;
    color: #0064739e;
    border: 3px solid white;
}