.star-match-game-app-container {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 2px 9px 7px rgba(0, 0, 0, 0.25),
    -2px -2px 30px 7px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.star-game {
    display: flex;
    margin: 1.5rem 0;
}

.stars-container {
    width: 50%;
    border: thin solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.numbers-container {
    padding: 10px;
    width: 50%;
    border: thin solid white;
}

.star {
    display: inline-block;
    margin: 0 15px;
}

.star:after {
    content: "\2605";
    font-size: 45px;
}

.number {
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
    padding: 0;
    border: thin solid white;
}

.number:focus,
.number:active {
    outline: none;
    border: thin solid white;
}

.game-done {
    display: flex;
    flex-direction: column;
}

.game-done button {
    padding: 0;
}

.game-done .message {
    font-size: 250%;
    font-weight: bold;
    margin: 15px;
}